body {
 font-family: Sans-Serif;
}
.personajes-listado-container,
.user-list-container  {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 grid-template-rows: 20px;
 grid-auto-rows: 80px;
 gap: 10px 5px;
}
.header {
 background-color: #2f4858;
 color: white;
 font-weight: bold;
}

.personajes-listado-container > img,
.user-list-container  > img {
 width: 80px;
}
