body {
 font-family: Sans-Serif;
}
.personajes-listado-container {
 display: grid;
 grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
 grid-template-rows: 20px;
 grid-auto-rows: 80px;
 gap: 10px 5px;
}
.user-list-container {
 display: grid;
 grid-template-columns: 80px 1fr 3fr;
 grid-template-rows: 20px;
 grid-auto-rows: 80px;
 gap: 10px 5px;
}
.header {
 background-color: #2f4858;
 color: white;
 font-weight: bold;
}

.personajes-listado-container > img,
.user-list-container  > img {
 width: 80px;
}

.contenedor-detalle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-detalle img{
  width: 200px;
  border-radius: 10px;
}